<footer class="bg-gray-800 text-white p-[100px] mt-4 ">
    <div class="container mx-auto grid grid-cols-3 gap-4 justify-center">
      <div>
        <h3 class="text-lg font-semibold mb-2">About</h3>
        <p class="text-sm">We are a company dedicated to crafting the finest leather shoes. Our shoes are a blend of timeless design and superior quality.</p>
      </div>
      <div class="flex flex-col items-center ">
        <h3 class="text-lg font-semibold mb-2">Customers</h3>
        <ul class="text-sm space-y-1">
          <li><a class="hover:text-blue-500" href="/getin/contact">Contact Us</a></li>
          <li><a class="hover:text-blue-500" href="/getin/about">About Us</a></li>
          <li><a class="hover:text-blue-500" href="/products/products_listings">Products</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-2">Admin</h3>
        <ul class="text-sm space-y-1">
          <li><a class="hover:text-blue-500" href="/users/login">Login</a></li>
          <li><a class="hover:text-blue-500" href="/users/signup">Signup</a></li>
          <li><a class="hover:text-blue-500" href="/products/addproducts">Add Products</a></li>
        </ul>
      </div>
    </div>
  </footer>